@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900");

:root {
  --max-width-center: 1170px;
}

/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* ----------- Geral ---------- */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/

html,
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #505050;
  font-family: Rubik, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a::selection,
p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
strong::selection {
  color: #fff;
  background-color: #21a7d0;
}

h2 {
  text-transform: uppercase;
}

.botao {
  text-transform: uppercase;
}

/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* ---------- Header ---------- */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/

header {
  background-color: #3cb4c4;
  width: 100%;
  position: sticky;
  top: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.grid-container {
  margin: auto;
  width: 100%;
  display: grid;
  max-width: calc(var(--max-width-center) - 30px);
  grid-template-columns: max-content 1fr max-content;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-header img {
  max-width: 170px;
  padding: 5px 0;
}

/* --- Nav Menu--- */
.menu {
  margin: 0;
  padding: 0 30px 0 0;
  float: left;
}

.menu a {
  font-weight: 550;
}

.menu li {
  position: relative;
  float: left;
  direction: rtl;
  margin-left: 30px;
  color: #fff;
  list-style: none;
  padding: 10px 0 0 18px;
}

.menu li:nth-of-type(1) {
  padding-left: 0;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 20px 5px;
  display: block;
  transition: 0.5s ease;
}

/* Adiciona o + depois dos itens do menu */
.menu li a::before {
  content: "+";
  position: absolute;
  left: auto;
  right: -10px;
  top: calc(50% + 0.25em);
  text-align: center;
  transform: translateY(-50%);
  transition: 0.5s ease;
}

.menu li a:hover {
  color: #f8c100;
}

.menu li a:hover::before {
  content: "-";
}

.menu li:hover a {
  color: #f8c100;
}

/* Precisei colocar isso pois o texto interno ficava amarelo */

.menu li:hover ul li a {
  color: #111;
}

/* Retira o sinal das li do submenu */

.menu li ul li a::before {
  content: "" !important;
}

.menu li ul {
  position: absolute;
  top: 66px;
  left: 0;
  background-color: #fff;
  transition: 0.35s ease;
  transform-origin: 0 0 0;
  transform: scale(100%, 0%);
  opacity: 0%;
}

.menu li:hover ul {
  transform: scale(100%, 100%);
  opacity: 100%;
}

.menu li ul {
  padding: 15px 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.383);
}
.menu li ul li {
  display: block;
  width: 256px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.menu li ul li a {
  color: #111;
  line-height: 200%;
  font-weight: 400;
  padding: 5px 40px 10px 30px !important;
}

.menu li ul li a:hover {
  color: #3cb4c4;
}

/* --- Botão Inscreva-se --- */

#link-amarelo {
  font-weight: 600;
  font-size: 1.2rem;
  display: block;
  align-self: stretch;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#link-amarelo a {
  display: block;
  background-color: #f8c100;
  text-decoration: none;
  color: #fff;
  padding: 20% 15px;
  transition: 0.4s ease;
}

#link-amarelo a:hover {
  display: block;
  background-color: #5c858d;
}

/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* ----------- Main ----------- */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/

main {
  min-height: 2400px;
  color: #ebebeb;
}
main h2 {
  font-family: "Rubik";
  font-weight: 500;
  color: #21a7d0;
  font-size: 1.2rem;
  line-height: 1.9rem;
  margin: 0;
}

main h3 {
  font-family: "Nunito";
  font-weight: 700;
  color: #111;
  font-size: 2.4rem;
  line-height: 120%;
  margin: 0;
}

main p {
  color: #505050;
}

/* ▲▼▲▼▲▼▲▼ - Banner - ▲▼▲▼▲▼▲▼ */

#banner-background {
  background-image: url(../img/home1.webp);
  background-size: cover;
  background-position: center;
  padding-bottom: 430px;
}

#banner {
  width: 100%;
  max-width: var(--max-width-center);
  margin: auto;
}

#banner h1 {
  color: #111;
  font-family: Nunito;
  font-size: 3.7rem;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  padding-top: 70px;
  margin-top: 0;
}

#banner p {
  text-align: center;
  font-size: 1.35rem;
}

/* ▲▼▲▼▲▼▲▼ - Sobre - ▲▼▲▼▲▼▲▼ */

#sobre-grid-container {
  width: 100%;
  max-width: calc(var(--max-width-center) - 30px);
  box-sizing: border-box;
  padding: 0;
  margin: -60px auto 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 60px auto auto auto auto;
  gap: 12px 65px;
  color: #505050;
}

#conheca {
  grid-row: 1 / 6;
  margin-bottom: 30px;
  padding: 60px;
  background-color: #e7f4f6;
  border-radius: 8px;
}

#conheca h3 {
  margin-top: 12px;
}

#conheca p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 170%;
  margin-bottom: 40px;
}

#botao-sobre {
  background-color: #3cb4c4;
  display: inline;
  padding: 18px 50px;
  border-radius: 30px;
  color: #fff;
  font-size: 1.05rem;
  font-weight: 500;
  transition: 0.5s ease;
}

#botao-sobre:hover {
  background-color: #5c858d;
  cursor: pointer;
}

/* ▲▼▲▼▲▼▲▼ - Cards Sobre - ▲▼▲▼▲▼▲▼ */

#como-funciona {
  background-color: #21a7d0;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.35rem;
  font-family: "Nunito";
  text-transform: uppercase;
  font-weight: 600;
  grid-column: 2;
  grid-row: 1;
}

.card-sobre {
  background-color: #e7f4f6;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 7px 10px;
  display: grid;
  grid-template-columns: 75px auto;
  column-gap: 15px;
  grid-column: 2;
}

.card-sobre i {
  align-self: center;
  text-align: center;
  box-sizing: border-box;
  color: #21a7d0;
  border-right: 1px solid #21a7d0;
}

#s-card-1 {
  grid-row: 2;
}

#s-card-2 {
  grid-row: 3;
}

#s-card-3 {
  grid-row: 4;
}

#s-card-4 {
  grid-row: 5;
}

.card-sobre p {
  display: block;
}

/* ▲▼▲▼▲▼▲▼ - Curso - ▲▼▲▼▲▼▲▼ */

#curso-fundo {
  width: 100%;
  background-color: #f3f8f9;
  padding-top: 100px;
}

#curso-conteudo {
  width: 100%;
  max-width: calc(var(--max-width-center) - 30px);
  margin: 0 auto;
}

#curso-conteudo h3 {
  padding-top: 10px;
}

#curso-conteudo p {
  font-size: 1.2rem;
  line-height: 160%;
  font-weight: 400;
  text-align: justify;
}

#mais-informacoes-btn {
  float: right;
  border: 1px solid #21a7d0;
  border-radius: 30px;
  overflow: hidden;
}

#mais-informacoes-btn a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  padding: 12px 30px;
  color: #505050;
  transition: 0.4s ease;
}

#mais-informacoes-btn a:hover {
  background-color: #21a7d0;
  color: #fff;
}

#mais-informacoes-btn a {
  display: block;
}

#formacao {
  width: 100%;
  max-width: calc(var(--max-width-center) - 30px);
}

#curso-grid-container {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 390px 1fr;
  grid-template-rows: 1fr 90px;
  background-color: #f3f8f9;
  margin-top: 60px;
}

#foto-curso {
  background-image: url(../img/full-stack.webp);
  background-size: cover;
  background-position: -45px 0;
}

#cards-curso {
  background-color: #f9f8f8;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-curso {
  background-color: #fdfdfd;
  width: 88%;
  overflow: hidden;
  flex: 0 0 18%;
}

.card-curso p {
  font-size: 1rem !important;
  padding: 4px 15px;
}

.topo-card-curso {
  display: grid;
  grid-template-columns: 60px 1fr;
  color: #fff;
  box-shadow: 0 0 30px rgba(17, 17, 17, 0.068);
}

.topo-card-curso i {
  font-size: 1.4rem;
  align-self: center;
  text-align: center;
  box-sizing: border-box;
  color: #505050;
}

.topo-card-curso p {
  font-size: 1.1rem !important;
  margin: 3px 0 3px -20px;
}

/* ▲▼▲▼▲▼▲▼ - Inscrição - ▲▼▲▼▲▼▲▼ */

#inscricao-container {
  width: 100%;
  background-color: #ffffff;
  padding: 55px 0;
}

#inscricao {
  width: 100%;
  height: 205px;
  max-width: calc(var(--max-width-center) - 30px);
  margin: 0 auto;
  background-image: url(../img/news-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}

/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* ---------- Footer ---------- */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/

footer {
  min-height: 100px;
  background-color: #3cb4c4;
}
